@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 185 95% 8%;
  --background: 185 94% 93%;
  --primary: 184 55% 56%;
  --secondary: 356 72% 47%;
  --accent: 51 94% 41%;
}
.dark {
  --text: 185 95% 92%;
  --background: 185 94% 7%;
  --primary: 184 55% 44%;
  --secondary: 356 72% 53%;
  --accent: 51 94% 59%;
}

body {
  @apply bg-background text-text font-sans;
}

body,
* {
  box-sizing: border-box;
  @apply border-primary/50 font-sans;
}
